@import "../../../styles/colors.module.css";

.OsWindowButtons {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.OsWindowButton {
  background-color: var(--oswindow-background);
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 2px;
  width: 18px;
}

.OsWindowButton:-moz-focusring {
  background-color: var(--oswindow-background);
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 2px;
  width: 18px;
}

.Pressed:hover {
  outline-color: var(--oswindow-outline);
  outline-style: inset;
  outline-width: 2px;
}

.Pressed:not(:hover) {
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 2px;
}
