@import "../../../styles/colors.module.css";

.NotificationArea {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 100%;
  justify-content: center;
  outline-color: var(--oswindow-outline);
  outline-style: inset;
  outline-width: 2px;
}

.Wrapper {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 100%;
  justify-content: center;
}

.Icons {
  display: flex;
  gap: 10px;
  margin-left: 4px;
}

