@import "../../../styles/colors.module.css";

.NotificationArea {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  outline-color: var(--oswindow-outline);
  outline-style: inset;
  outline-width: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

.Wrapper {
  display: flex;
  gap: 12px;
}
