{
  "arrowParens": "always",
  "endOfLine": "lf",
  "experimentalTernaries": false,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "prettier-plugin-jsdoc",
    "prettier-plugin-organize-imports"
  ],
  "printWidth": 1337,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
