@import "../styles/colors.module.css";

/* prettier-ignore */
@font-face {
  font-display: swap;
  font-family: "Perfect DOS VGA 437 Win";
  src:
    url(../assets/fonts/perfect-DOS-VGA-437-win.woff2) format("woff2"),
    url(../assets/fonts/perfect-DOS-VGA-437-win.woff) format("woff");
}

.Container {
  background-color: var(--bsod-background);
  bottom: 0;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1337;
}

.Text {
  box-sizing: border-box;
  color: var(--gray);
  font-family: "Perfect DOS VGA 437 Win", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 100px;
  max-width: 80%;
}

.Layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30vh;
}

.Blink {
  font-family: "Perfect DOS VGA 437 Win", Arial, Helvetica, sans-serif;
  font-size: 24px;
  transition: opacity;
}

.Blink:hover {
  opacity: 0;
}

.Hex {
  color: var(--yellow);
  font-family: "Perfect DOS VGA 437 Win", Arial, Helvetica, sans-serif;
  font-size: 24px;
}
