@import "../styles/colors.module.css";

.Container {
  align-items: center;
  background-color: var(--bsod-background);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 1337;
}

.Headline {
  box-sizing: border-box;
  color: var(--gray);
  font-family: "Perfect DOS VGA 437 Win", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 100px;
}

.Steps {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.Text {
  box-sizing: border-box;
  color: var(--gray);
  font-family: "Perfect DOS VGA 437 Win", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 100px;
}

.Layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Blink {
  animation: blinkingText 1.2s infinite;
  font-family: "Perfect DOS VGA 437 Win", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.Hex {
  color: var(--yellow);
  font-family: "Perfect DOS VGA 437 Win", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@keyframes blinkingText {
  0% {
    color: var(--gray);
  }

  49% {
    color: var(--gray);
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: var(--gray);
  }
}
