@import '../../../../styles/colors.module.css';

.StartMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 32px;
  gap: 20px;
  padding: 10px;
}

.StartMenuItem:hover {
  background-color: var(--startmenu-spine-bright);
  color: white;
}
