@import '../../../../styles/colors.module.css';
@import '../../../../styles/layout.module.css';

.ContentList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.StartMenu {
  background-color: var(--oswindow-background);
  bottom: var(--taskbar-height);
  display: flex;
  left: var(--taskbar-padding-left);
  max-height: 720px;
  max-width: 440px;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
  position: absolute;
  width: 100%;
  z-index: 40;
}
