@import "../../../../styles/colors.module.css";

.StartMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 5px;
}

.StartMenuItem:hover {
  background-color: var(--startmenu-spine-bright);
  color: white;
}

.StartMenuItemIcon {
  width: 32px;
}
