@import "../../../styles/colors.module.css";

.ChromeArea {
  align-items: center;
  background: linear-gradient(90deg, var(--titlebar-passive-dim), var(--oswindow-background));
  cursor: grab;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  min-height: 48px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

/*** WARN: Must come last ***/
.Active {
  background: linear-gradient(90deg, var(--titlebar-active-dim), var(--titlebar-active-bright));
}
