@import "../../../styles/colors.module.css";

.Icon {
  max-height: 60px;
  padding-bottom: 4px;
  padding-top: 4px;
}

.OsWindowLabel {
  align-items: center;
  display: flex;
  gap: 10px;
  pointer-events: none;
}

.Title {
  color: var(--oswindow-background);
  font-size: 32px;
  font-weight: 900;
}

/*** WARN: Must come last ***/
.Active {
  color: var(--white);
  pointer-events: none;
}
