@import "../../../styles/colors.module.css";

.OsWindowChromeArea {
  align-items: center;
  background: linear-gradient(90deg, var(--titlebar-passive-dim), var(--gray));
  cursor: grab;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  min-height: 48px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.Outline {
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
}

/*** WARN: Must come last ***/
.Active {
  background: linear-gradient(90deg, var(--titlebar-active-dim), var(--titlebar-active-bright));
}
