@import "../../../styles/colors.module.css";

.OsWindowLabel {
  align-items: center;
  display: flex;
  gap: 10px;
  pointer-events: none;
}

.Title {
  color: var(--oswindow-background);
  font-size: 24px;
  font-weight: 900;
  pointer-events: none;
}

/*** WARN: Must come last ***/
.Active {
  color: var(--white);
  pointer-events: none;
}
