@import "../../../styles/colors.module.css";

.Icon {
  height: 16px;
  object-fit: contain;
  pointer-events: none;
}

.RunningItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 3px;
  outline-color: var(--outline-white);
  outline-style: outset;
  outline-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 120px;
}

.RunningItem:-moz-focusring {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 3px;
  outline-color: var(--outline-white);
  outline-style: outset;
  outline-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 120px;
}

.Title {
  font-size: 10px;
  padding-top: 2px;
}

/*** WARN: Must come last ***/
.Active {
  outline-style: inset;
}

.Active:-moz-focusring {
  outline-style: inset;
}
