@import '../../styles/colors.module.css';
@import '../../styles/layout.module.css';

.OsWindow {
  /* animation: Unminimized 250ms; */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 500px;
  left: 40vw;
  padding: 6px;
  position: absolute;
  top: 400px;
  width: 600px;
  z-index: 30;
}

.Resizable {
  cursor: move;
}

/*** WARN: Must come last ***/
.Maximized {
  height: calc(100vh - var(--taskbar-height)) !important;
  left: 0 !important;
  top: 0 !important;
  width: 100vw !important;
}

.Minimized {
  display: none;
}

/* Animations */

/*
@keyframes Unminimized {
  from {
    transform: scale(0);
    translate: 0 50vh;
  }

  to {
    transform: scale(1);
    translate: 0;
  }
}

@keyframes Minimized {
  from {
    transform: scale(1);
    translate: 0;
  }

  to {
    transform: scale(0);
    translate: 0 50vh;
  }
} */
