@import "../../styles/animations.module.css";
@import "../../styles/colors.module.css";

.OsWindow {
  animation: Maximized 500ms;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 300px;
  left: 20vw;
  min-height: 250px;
  min-width: 350px;
  padding: 3px;
  position: absolute;
  top: 200px;
  width: 400px;
  z-index: 30;
}

.Resizable {
  cursor: move;
}

.Outline {
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 2px;
}

/*** WARN: Must come last ***/
.Maximized {
  bottom: 0 !important;
  height: calc(100vh - 30px) !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  width: 100vw !important;
}

.Minimized {
  display: none;
}
