@import "../../styles/colors.module.css";

.TaskMgr {
  background-color: var(--oswindow-background);
  height: 100%;
  padding: 10px;
  width: 100%;
}

.Task {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 10px;
}

.KillButton {
  font-size: 20px;
  height: 24px;
  width: 48px;
}

.KillButton:-moz-focusring {
  font-size: 20px;
  height: 24px;
  width: 48px;
}
