@import "../../styles/colors.module.css";

.TaskMgr {
  background-color: var(--oswindow-background);
  height: 100%;
  padding: 10px;
  width: 100%;
}

.KillButton {
  background-color: var(--gray);
  font-size: 20px;
  height: 24px;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
  width: 24px;
}

.KillButton:-moz-focusring {
  background-color: var(--gray);
  font-size: 20px;
  height: 24px;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
  width: 24px;
}

.Pressed:hover {
  outline-color: var(--oswindow-outline);
  outline-style: inset;
  outline-width: 4px;
}

.Pressed:not(:hover) {
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
}
