@import "../../../styles/colors.module.css";

.StartButton {
  align-content: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline-color: var(--window-outline-white);
  outline-style: outset;
  outline-width: 2px;
  width: 65px;
}

.StartButton:-moz-focusring {
  align-content: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline-color: var(--window-outline-white);
  outline-style: outset;
  outline-width: 2px;
  width: 65px;
}

.Pressed {
  outline-color: var(--window-outline-white);
  outline-style: inset;
  outline-width: 2px;
}

.Pressed:-moz-focusring {
  outline-color: var(--window-outline-white);
  outline-style: inset;
  outline-width: 2px;
}

.Title {
  align-content: center;
  display: flex;
  justify-content: center;
}
