@import "../../../../styles/colors.module.css";

.Spine {
  align-items: flex-end;
  background: linear-gradient(0deg, var(--startmenu-spine-bright) 55%, var(--startmenu-spine-dim) 90%, var(--startmenu-spine-bright) 100%);
  display: flex;
  flex-shrink: 0;
  pointer-events: none;
  transform: rotate(180deg);
  width: 40px;
}

.Title {
  color: var(--white);
  font-size: xx-large;
  min-height: 90%;
  writing-mode: vertical-lr;
}
