@import "../../../../styles/colors.module.css";

.ContentList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.StartMenu {
  background-color: var(--oswindow-background);
  bottom: 30px;
  display: flex;
  left: 5px;
  max-height: 360px;
  max-width: 220px;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 2px;
  position: absolute;
  width: 100%;
  z-index: 40;
}
