@import "../../../styles/colors.module.css";

.ContextMenu {
  background-color: var(--window-background);
  outline-color: var(--window-outline);
  outline-style: outset;
  outline-width: 2px;
  position: absolute;
  width: 175px;
  z-index: 50;
}

.ContentList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
