@import "../../../styles/colors.module.css";

.ContextMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 5px;
  padding-left: 10px;
}

.ContextMenuItem:hover {
  background-color: var(--start-menu-dim-blue);
  color: white;
}
