@import "../../../styles/colors.module.css";

.ContextMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding-left: 4px;
}

.ContextMenuItem:hover {
  background-color: var(--startmenu-spine-bright);
  color: white;
}

.Icon {
  object-fit: contain;
  width: 16px;
}
