@import "../../../styles/colors.module.css";

.ContextMenu {
  background-color: var(--background-gray);
  outline-color: var(--outline-white);
  outline-style: outset;
  outline-width: 2px;
  position: absolute;
  width: 150px;
  z-index: 2000;
}

.ContentList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
