@import "../../../styles/colors.module.css";

.ContextMenu {
  background-color: var(--window-background-gray);
  outline-color: var(--window-outline-white);
  outline-style: outset;
  outline-width: 2px;
  position: absolute;
  width: 175px;
  z-index: 2000;
}

.ContentList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  padding: 2px;
  width: 100%;
}
