@import '../../../styles/colors.module.css';

.ProgramContent {
  background-color: var(--programcontent-background);
  height: 100%;
  outline-color: var(--gray-bright);
  outline-style: inset;
  outline-width: 2px;
  width: 100%;
}
