.RunningAreaItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
}

.RunningAreaItem:-moz-focusring {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
}
