@import "../../../styles/colors.module.css";

.RunningAreaItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 3px;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 120px;
}

.RunningAreaItem:-moz-focusring {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 3px;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: 120px;
}

/*** WARN: Must come last ***/
.Active {
  outline-style: inset;
}

.Active:-moz-focusring {
  outline-style: inset;
}
