.QuickstartArea {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.Wrapper {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 100%;
  justify-content: center;
}
