.QuickstartArea {
  align-items: center;
  display: flex;
  gap: 18px;
  justify-content: center;
  padding-right: 8px;
  padding-bottom: 8px;
}

.Wrapper {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 100%;
  justify-content: center;
}
