.QuickstartAreaItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline-style: none;
}

.QuickstartAreaItem:-moz-focusring {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline-style: none;
}

.ButtonOverride {
  outline: none;
}

.ButtonOverride:focus {
  outline: none;
}
