@keyframes Maximized {
  from {
    transform: scale(0);
    translate: 0 50vh;
  }

  to {
    transform: scale(1);
    translate: 0;
  }
}

@keyframes Minimized {
  from {
    transform: scale(1);
    translate: 0;
  }

  to {
    transform: scale(0);
    translate: 0 50vh;
  }
}
