:root {
  /** Colors */

  /* Base */
  --black: rgb(0, 0, 0);
  --gray: rgb(192, 192, 192);
  --teal: rgb(0, 117, 130);
  --yellow: rgb(255, 255, 0);
  --white: rgb(248, 248, 248);

  /* Bright */
  --blue-bright: rgb(16, 129, 205);
  --gray-bright: rgb(224, 224, 224);

  /* Dim */
  --blue-dim: rgb(0, 0, 128);
  --gray-dim: rgb(128, 128, 128);

  /* Transparent */
  --blue-transparent: rgba(0, 0, 255, 0.1);
  --white-transparent: rgba(248, 248, 248, 0.5);

  /** Contexts */

  /* BSOD */
  --bsod-background: rgb(0, 0, 132);

  /* Desktop */
  --desktop-wallpaper: var(--teal);
  --desktopitem-background: var(--blue-transparent);
  --desktopitem-outline: var(--white-transparent);

  /* Start Menu */
  --startmenu-spine-bright: var(--blue-dim);
  --startmenu-spine-dim: var(--blue-transparent);

  /* Titlebar */
  --titlebar-active-bright: var(--blue-bright);
  --titlebar-active-dim: var(--blue-dim);
  --titlebar-passive-bright: var(--gray-dim);
  --titlebar-passive-dim: var(--gray-dim);

  /* OsWindow */
  --oswindow-background: var(--gray);
  --oswindow-outline: var(--white);

  /* ProgramContent */
  --programcontent-background: var(--black);
}
