@import "./fonts.module.css";
@import "./colors.module.css";

* {
  box-sizing: border-box;
  font-family: "W95FA", Arial, Helvetica, sans-serif;

  /* Chrome & Co */
  image-rendering: pixelated;

  /* FireFox */
  image-rendering: crisp-edges;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: var(--desktop-wallpaper-teal);
  font-size: large;
  font-weight: 100;
  overflow: hidden;
}

button {
  align-items: unset;
  background-color: transparent;
  border-color: unset;
  border-image: none;
  border-style: none;
  border-width: unset;
  cursor: pointer;
  display: block;
  font: unset;
  padding: unset;
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
