@import "./fonts.module.css";
@import "./colors.module.css";

* {
  box-sizing: border-box;
  font-family: "W95FA", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  user-select: none;
}

body {
  background-color: var(--wallpaper-teal);
  font-size: large;
  font-weight: 100;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

button {
  align-items: unset;
  background-color: transparent;
  border-color: unset;
  border-image: none;
  border-style: none;
  border-width: unset;
  cursor: pointer;
  display: block;
  font: unset;
  padding: unset;
}

h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
