html,
body {
  background-size: cover;
  overflow: clip;
  shape-rendering: geometricPrecision;
  text-rendering: optimizeLegibility;
  user-select: none;
  background-color: rgb(0, 0, 0);
}

.root {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
