@import "../../styles/animations.module.css";
@import "../../styles/colors.module.css";

.OsWindow {
  animation: Maximized 500ms;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 500px;
  left: 40vw;
  min-height: 400px;
  min-width: 500px;
  padding: 6px;
  position: absolute;
  top: 400px;
  width: 700px;
  z-index: 30;
}

.Resizable {
  cursor: move;
}

.Outline {
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
}

/*** WARN: Must come last ***/
.Maximized {
  bottom: 0 !important;

  /* NOTE: The 60px is an approximation of `TaskBar` height. */
  height: calc(100vh - 60px) !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  width: 100vw !important;
}

.Minimized {
  display: none;
}
