@import "../styles/colors.module.css";

.Moving {
  opacity: 50%;
  pointer-events: none;
}

.Original {
  background-color: var(--shortcut-background-blue);
  outline-color: var(--shortcut-outline-white);
  outline-style: dotted;
  outline-width: 1px;
}
