@import "../styles/colors.module.css";

.Moving {
  opacity: 50%;
  pointer-events: none;
}

.Original {
  background-color: var(--selected-transparent-blue);
  outline-color: rgba(255, 255, 255, 50%);
  outline-style: dotted;
  outline-width: 1px;
}
