@import "../../../styles/colors.module.css";

.ProgramIcon {
  max-height: 30px;
  object-fit: contain;
  padding-bottom: 4px;
  padding-top: 4px;
}

.ProgramName {
  color: var(--window-background);
  font-size: 16px;
  font-weight: 900;
  padding-top: 2px;
}

.WindowTitle {
  align-items: center;
  display: flex;
  gap: 5px;
}

/*** WARN: Must come last ***/
.Active {
  color: var(--white);
}
