@import "../../styles/colors.module.css";

.Taskbar {
  background-color: var(--background-gray);
  bottom: 0;
  display: flex;
  gap: 7px;
  height: 30px;
  left: 0;
  outline-color: var(--outline-white);
  outline-style: outset;
  outline-width: 2px;
  padding: 5px;
  position: absolute;
  right: 0;
  z-index: 100;
}
