@import "../../styles/colors.module.css";

.VerticalSeparator {
  margin-left: 1px;
  margin-right: 1px;
  min-height: 100%;
  outline-color: var(--window-outline);
  outline-style: inset;
  outline-width: 2px;
}
