@import "../../styles/colors.module.css";

.DesktopItem {
  align-items: center;
  color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  gap: 10px;
  height: 160px;
  justify-content: center;
  position: absolute;
  width: 160px;
}

.Title {
  color: var(--white);
  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
}

/*** WARN: Must come last ***/
.Active {
  background-color: var(--desktopitem-background);
  cursor: pointer;
  outline-color: var(--white-transparent);
  outline-style: dotted;
  outline-width: 1px;
}
