@import "../../../../styles/colors.module.css";

.HorizontalSeparator {
  margin-left: 1px;
  margin-right: 1px;
  min-width: 250px;
  outline-color: var(--outline-white);
  outline-style: inset;
  outline-width: 2px;
}
