.Bold {
  font-weight: 900;
}

.Spine {
  align-items: flex-end;
  background: linear-gradient(0deg, rgba(0, 0, 128, 1) 55%, rgba(0, 0, 255, 1) 90%, rgba(0, 0, 128, 1) 100%);
  display: flex;
  flex-shrink: 0;
  transform: rotate(180deg);
  width: 40px;
}

.Title {
  color: white;
  font-size: xx-large;
  font-weight: 100;
  min-height: 90%;
  writing-mode: vertical-rl;
}
