@import "../../../../styles/colors.module.css";

.StartMenuItem {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 5px;
}

.StartMenuItem:hover {
  background-color: var(--start-menu-dim-blue);
  color: white;
}
