@import "../../../../styles/colors.module.css";

.StartMenu {
  background-color: var(--background-gray);
  bottom: 30px;
  display: flex;
  left: 5px;
  max-height: 50vh;
  max-width: 220px;
  outline-color: var(--outline-white);
  outline-style: outset;
  outline-width: 2px;
  position: absolute;
  width: 100%;
  z-index: 200;
}

.ContentList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
