@import "../../../styles/colors.module.css";

.Moving {
  opacity: 50%;
  pointer-events: none;
}

.Original {
  background-color: var(--desktopitem-background);
  outline-color: var(--desktopitem-outline);
  outline-style: dotted;
  outline-width: 1px;
}
