@import "../../../styles/colors.module.css";

.NotificationArea {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  outline-color: var(--outline-white);
  outline-style: inset;
  outline-width: 2px;
  padding: 2px;
}

.Wrapper {
  display: flex;
  gap: 6px;
}
