@import "../../../styles/colors.module.css";

.NotificationArea {
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
  justify-content: center;
  outline-color: var(--outline-white);
  outline-style: inset;
  outline-width: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.Wrapper {
  display: flex;
  gap: 6px;
}
