.NotificationAreaItem {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 16px;
}

.Icon {
  max-width: 16px;
  object-fit: contain;
  padding-top: 1.5px;
  pointer-events: none;
}
