@import '../styles/colors.module.css';

.Divider {
  outline-color: var(--oswindow-outline);
  outline-width: 2px;
  pointer-events: none;
}

.In {
  outline-style: inset;
}

.Out {
  outline-style: outset;
}

.Horizontal {
  width: 100%;
}

.Vertical {
  height: 100%;
}

.Stocky {
  outline-style: outset;
}
