@import '../styles/colors.module.css';

.OsButton {
  align-items: center;
  background-color: var(--gray);
  display: flex;
  font-size: 20px;
  justify-content: center;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
}

.OsButton:-moz-focusring {
  align-items: center;
  background-color: var(--gray);
  display: flex;
  font-size: 20px;
  justify-content: center;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
}

/*** WARN: Must come last ***/
.Pressed:hover {
  outline-style: inset;
}

.Pressed:not(:hover) {
  outline-style: outset;
}

.Discreet {
  outline-style: none;
}

.Discreet:-moz-focusring {
  outline-style: none;
}

.Discreet:hover {
  outline-style: none;
}

.Discreet:not(:hover) {
  outline-style: none;
}
