.ButtonOverride {
  align-content: center;
  cursor: pointer;
  display: flex;
  gap: 2px;
  height: 100%;
  justify-content: center;
  width: 100px;
}

.ButtonOverride:-moz-focusring {
  align-content: center;
  cursor: pointer;
  display: flex;
  gap: 2px;
  height: 100%;
  justify-content: center;
  margin-left: 2px;
  width: 100px;
}
