@import "../../styles/colors.module.css";

.Calc {
  align-items: center;
  background-color: var(--oswindow-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 100%;
}
