.Calc {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.GridContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px;
}

.CalculatorButton {
  font-size: 32px;
  height: 80px;
  outline-color: whitesmoke;
  outline-style: outset;
  outline-width: 4px;
  padding: 20px;
  width: 100px;
}

.CalculatorResults {
  font-size: 32px;
  height: 40px;
  width: 100%;
}
