@import "../../styles/colors.module.css";

.Calc {
  align-items: center;
  background-color: var(--oswindow-background);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.CalculatorButton {
  align-items: center;
  display: flex;
  font-size: 32px;
  height: 80px;
  justify-content: center;
  outline-color: whitesmoke;
  outline-style: outset;
  outline-width: 4px;
  padding: 20px;
  width: 100px;
}

.CalculatorResults {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: row-reverse;
  font-size: 32px;
  height: 40px;
  margin-bottom: 20px;
  padding-right: 6px;
  padding-top: 4px;
  width: 100%;
}

.Pressed:hover {
  outline-color: var(--oswindow-outline);
  outline-style: inset;
  outline-width: 4px;
}

.Pressed:not(:hover) {
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
}
