@import "../../../styles/colors.module.css";

.OsWindowTitle {
  align-items: center;
  display: flex;
  gap: 5px;
  pointer-events: none;
}

.ProcessIcon {
  max-height: 30px;
  object-fit: contain;
  padding-bottom: 4px;
  padding-top: 4px;
  pointer-events: none;
}

.ProcessName {
  color: var(--oswindow-background);
  font-size: 16px;
  font-weight: 900;
  padding-top: 2px;
  pointer-events: none;
}

/*** WARN: Must come last ***/
.Active {
  color: var(--white);
  pointer-events: none;
}
