@import "../../styles/colors.module.css";

.Taskbar {
  background-color: var(--oswindow-background);
  bottom: 0;
  display: flex;
  gap: 10px;
  height: 60px;
  left: 0;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
  padding: 8px;
  position: absolute;
  right: 0;
  z-index: 20;
}
