@import "../../styles/colors.module.css";

.ContentList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.ContextMenu {
  background-color: var(--oswindow-background);
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
  position: absolute;
  width: 350px;
  z-index: 50;
}

/*** WARN: Must come last ***/
.Outside {
  flex-direction: column-reverse;
}
