@import "../../styles/animations.module.css";
@import "../../styles/colors.module.css";

.Window {
  animation: Maximized 500ms;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 300px;
  left: 20vw;
  min-height: 250px;
  min-width: 350px;
  padding: 3px;
  position: absolute;
  top: 200px;
  width: 400px;
}

.Resizable {
  cursor: move;
}

.Outline {
  outline-color: var(--window-outline);
  outline-style: outset;
  outline-width: 2px;
}
