@import "../../styles/colors.module.css";

.Window {
  background-color: var(--background-gray);
  display: flex;
  flex-direction: column;
  height: 300px;
  left: 20vw;
  outline-color: var(--outline-white);
  outline-style: outset;
  outline-width: 2px;
  position: absolute;
  top: 20vh;
  width: 400px;
}
