@import "../../../styles/colors.module.css";

.Logo {
  height: 100%;
}

.StartButton {
  align-content: center;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
  width: 130px;
}

.StartButton:-moz-focusring {
  align-content: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline-color: var(--oswindow-outline);
  outline-style: outset;
  outline-width: 4px;
  width: 130px;
}

/*** WARN: Must come last ***/

.Pressed {
  outline-style: inset;
}

.Pressed:-moz-focusring {
  outline-style: inset;
}
