@import "../../styles/colors.module.css";

.Shortcut {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100px;
  justify-content: center;
  position: absolute;
  width: 100px;
}

.Icon {
  height: 50px;
  width: 50px;
}

.Name {
  color: white;
  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
}

/*** WARN: Must come last ***/
.Active {
  background-color: var(--shortcut-background-blue);
  outline-color: rgba(255, 255, 255, 50%);
  outline-style: dotted;
  outline-width: 1px;
}
