@import "../../styles/colors.module.css";

.Shortcut {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100px;
  justify-content: center;
  position: absolute;
  width: 100px;
}

.Icon {
  height: 50px;
  width: 50px;
}

.Name {
  color: white;
  text-align: center;
}

/*** WARN: Must come last ***/
.Active {
  background-color: var(--selected-transparent-blue);
  opacity: 50%;
}
